nav {
    display: flex;
    background-color: rgb(96, 58, 244);
  }

 /*Added style to nav bar element*/
  nav a {
    color: white;
    padding: 14px 20px;
  }

  h1 {
    text-align: center;
}
  body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  .time{
    color: azure;
    font-weight: bolder;
  }

  .startQuiz{
    flex-direction: row;
    padding: 10px;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    border-style: none;
    border-width: 1px;
  }

  .quiz-container {
    display: none;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}


.form {
  display: none;
  text-align: center;
}

.submit-btn {
    display: block;
    margin-top: 15px;
    max-width: 150px;
    padding: auto;
}

.save {
  display: none;
  padding: 100px;
  max-width: 150px;
}

.scorecard {
  display: flex;
  background-color: aqua;

}
